:host{
    display: block;
    height: calc(100vh - 56px);
}

.carousel-caption{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}


img {
    filter: brightness(70%);
    transition: 1.3s ease all;
}

.button_wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    position: relative;
    width: fit-content;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 16px;
    word-wrap: break-word;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    background-color: rgb(221, 221, 247);
}

button:hover{
    background-color: rgb(186, 185, 255);
}