:host{
    display: block;
    height: 100vh;
    width: 100%;
    // background-color: var(--white);
    background-color: antiquewhite;
}

.bottom_decoration{
    position: absolute;
    bottom: 0;
    width: 100vw;
    overflow: hidden;

    img{
        width: 2000px;
        height: 300px;
    }
}
