<main class="sticky-container" #sticky_container>
    <div class="sticky">
      <div class="slide-container">
        <div class="slide" #slide1>
          <div class="slide-big-text">
            <p>HELLO</p>
          </div>
        </div>
        <div #scroll_down>
          <div class="scroll-down-text">scroll down</div>
        </div>
        <div class="slide" #slide2>
          <div class="slide-big-text">
            <p>NICE TO MEET YOU</p>
          </div>
        </div>
        <div class="slide" #slide3>
          <div class="slide-big-text">
            <p>DO YOU LIKE</p>
            <p>SCROLL ANIMATION</p>
          </div>
        </div>
        <div class="slide slide-left" #slide4>
          <div class="slide4-content">
            <div class="slide-big-text">
              <p>I WANT</p>
              <p>I NEED</p>
              <p>I HOPE</p>
            </div>
            <div class="slide-small-text">
              <p>This is for a small text</p>
              <p>Add more description</p>
            </div>
          </div>
        </div>
        
        <div #moving_background>Independent Background</div>

        <div class="slide slide-left" #slide5>
          <div class="slide-big-text">
            <p>EVERYTHING YOU SEE</p>
            <p>EVERYTHING WE CODE</p>
          </div>
          <div class="go-surf-wrapper">
            <p>THE END</p>
          </div>
        </div>
      </div>
    </div>
</main>