<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" SlideAnimation="left">
                <h1 class="h1 h1-display-standard pb-3">HELLO</h1>
                <p class="p-display">Descruotuib</p>
            </div>
            <div class="col-md-6" SlideAnimation='right'>
                <img src="assets/placeholder.webp" alt="picture of trees">
            </div>
        </div>
    </div>
    <div class="hero-arc-decoration brand-white-arc"></div>
</section>