.navbar .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1120px;
}

.navbar-brand{
    margin: 0;
    width: 120px;
}

.navbar-collapse{
    flex-grow: 0;
}

.login{
    width: 120px;
    border: 1px #2d7bbb solid;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    color: #2d7bbb;
    text-align: center;
}

nav{
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    position: sticky;
    background-color: rgba(255, 255, 255, 0.904);
}

@media only screen and (max-width: 991px) {
    .login{
        display: none;
    }
}

.fixed_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler{
    border: none;
}

.router-link-active{
    color: rgb(31, 31, 31);
}